body{
    display: inline-block;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
}
.suptitle-left{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    
    text-align: right;
    letter-spacing: 7.33333px;
    text-transform: uppercase;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}
